/* Blow up the font size of the Kindle browser,
    because it otherwise renders text super small.
 */
html.kindle {
    font-size: 38px;
}

#readup-article-container {
    overflow-y: scroll;
    height: 100%;
    font-size: 44px;
    font-family: 'Bookerly', serif;
}

#readup-article-container p {
    margin-bottom: 1rem;
}

#readup-article-container h1, h2, h3 {
    font-size: 48px;
    font-weight: bold;
}

.readup-progress {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #eee;
}